<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.poli_mobile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"

        android:label="@string/app_name"
       >
        <activity
            android:name="com.example.poli_mobile.poli_mobile.ui.Menu"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name="com.example.poli_mobile.poli_mobile.ui.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light">
            </activity>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".poli_mobile.ui.SplashActivity"
            android:label="Menu Principal"
             android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

</manifest>